<table class="table mt-5" *ngIf="clientes.length > 0">
    <thead>
        <tr class="text-center">
            <th class="border-top-0" scope="col">Usuario</th>
            <th class="border-top-0" scope="col">Correo</th>
            <th class="border-top-0" scope="col">Ganacias del aliado</th>
            <th class="border-top-0" scope="col">Mis ganancias</th>
            <th class="border-top-0" scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let i of clientes">
            <tr class="text-center">
                <td>{{ i.nombre }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.valorVenta | math: i.comisionVenta | currency:'COP':'symbol-narrow':'1.2-2' }}</td>
                <td>{{ i.valorVenta | math: i.comisionVenta: 0.05 | currency:'COP':'symbol-narrow':'1.2-2' }}</td>
                <td>{{ i.creation.toDate() | date : 'MMM d, y' }}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div class="alert alert-info mt-5" *ngIf="clientes.length == 0">
    Las ganancias vienen pronto relax
</div>
