<div class="container mt-5 pt-5">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
      <figure class="d-flex justify-content-center">
        <img src="../../../../assets/icon.png" width="200" class="mb-3" alt="Icon aliados app">
      </figure>
      <form>
        <div class="mb-3 position-relative">
          <input type="email" class="form-control"
            [class]="(!e.exec(email.value) && email.value != '') ? 'is-invalid' : e.exec(email.value) && 'is-valid'"
            name="email" #email="ngModel" ngModel placeholder="example@example.com">
          <span class="invalid-tooltip" *ngIf="!e.exec(email.value) && email.value != ''">Correo electrónico no
            valido</span>
        </div>
        <div class="mb-3 position-relative">
          <input type="password" class="form-control" name="pass" #pass="ngModel" ngModel placeholder="Contraseña">
        </div>
        <div class="mb-3">
          <a [routerLink]="['/Register', '']" class="btn btn-link" role="button">Registrarme</a>
          <a class="btn btn-link" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Recordar
            contraseña</a>
        </div>
        <button type="button" class="btn btn-primary" (click)="logIn(email.value, pass.value)"
          [disabled]="email.value == '' || pass.value == '' || !e.exec(email.value)">Iniciar Sesión</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="modal fade modal-dialog-centered " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Recordar contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-dialog-scrollable">
        <div class="row mx-auto w-100">
          <div class="col mr-2">
            <form>
              <div class="input-group mb-3 position-relative">
                <input type="email" class="form-control" [class.is-invalid]="!e.exec(email2.value) && email2.value != ''" [class.is-valid]="e.exec(email2.value)" placeholder="Correo electrónico" name="email2"
                  #email2="ngModel" ngModel>
                <span class="invalid-tooltip" *ngIf="!e.exec(email2.value) && email2.value != ''">Correo electrónico no
                  valido</span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          [disabled]="email2.value == '' || !e.exec(email2.value)" (click)="forgotPass(email2.value)">Recordar</button>
      </div>
    </div>
  </div>
</div>

<app-toast [toast]="_toast" [text]="_text" [_error]="_err"></app-toast>