<div class="container mt-5 pt-5">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <figure class="d-flex justify-content-center">
                <img src="../../../../assets/icon.png" alt="Icon aliados app" class="mb-3" style="width: 200px;"
                    width="200">
            </figure>
            <form>
                <div class="mb-3 position-relative">
                    <input type="text" class="form-control" name="name" #name="ngModel" ngModel
                        placeholder="Nombre completo">
                    <span class="text-danger position-absolute end-0 top-50 translate-middle-y mr-2">*</span>
                </div>
                <div class="mb-3 position-relative">
                    <input type="email" class="form-control" [class.is-valid]="e.exec(email.value)"
                        [class.is-invalid]="!e.exec(email.value) && email.value != ''" placeholder="example@example.com"
                        name="email" #email="ngModel" ngModel>
                    <span class="invalid-tooltip" *ngIf="!e.exec(email.value) && email.value != ''">Correo electrónico
                        invalido</span>
                    <span class="text-danger position-absolute end-0 top-50 translate-middle-y mr-2">*</span>
                </div>
                <div class="mb-3 position-relative">
                    <input [type]="_eye ? 'text': 'password'" class="form-control"
                        [class.is-valid]="p1.value?.length >= 6"
                        [class.is-invalid]="p1.value?.length < 6 && p1.value != ''" placeholder="Contraseña" name="p1"
                        #p1="ngModel" ngModel>
                    <span class="invalid-tooltip" *ngIf="p1.value?.length < 6 && p1.value != ''">Debe contener mínimo 6
                        carácteres</span>
                    <div class="position-absolute end-0 top-50 translate-middle-y mr-n4" role="button"
                        style="z-index: 5;" (click)="_eye = !_eye"><i class="fas fa-eye" *ngIf="!_eye"></i><i
                            class="fas fa-eye-slash" *ngIf="_eye"></i></div>
                </div>
                <div class="mb-3 position-relative">
                    <input [type]="_eye ? 'text': 'password'" class="form-control"
                        [class.is-valid]="p1.value == p2.value && p2.value != ''"
                        [class.is-invalid]="p1.value != p2.value && p2.value != ''" placeholder="Repetir contraseña"
                        name="p2" #p2="ngModel" ngModel>
                    <span class="invalid-tooltip" *ngIf="p1.value != p2.value && p2.value != ''">Las contraseñas no
                        coinciden</span>
                    <span class="text-danger position-absolute end-0 top-50 translate-middle-y mr-2">*</span>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="check"
                            #check="ngModel" ngModel>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Soy una empresa</label>
                    </div>
                </div>
                <div class="mb-3 position-relative" [hidden]="!check.value">
                    <input type="text" placeholder="Nombre de Empresa" name="company" #company="ngModel" ngModel
                        class="form-control">
                    <span class="text-danger position-absolute end-0 top-50 translate-middle-y mr-2">*</span>
                </div>
                <div class="mb-3">
                    <a role="button" [routerLink]="'/Login'" class="btn btn-link">Iniciar Sesión</a>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary mb-5"
                        [disabled]="name.value == '' || email.value == '' || (check.value && company.value == '') || p1.value == '' || p2.value == '' || p1.value != p2.value || !e.exec(email.value)"
                        (click)="register(name.value, email.value, p2.value, company.value)">Registrarme</button>
                    <div class="spinner-border text-success mt-1 ms-2" role="status" *ngIf="load">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<app-toast [toast]="_toast" [text]="_textE" [_error]="_err"></app-toast>