<form class="mt-3 mb-5">
    <div class="mb-3">
        <h5>Referido por: <span class="text-warning">{{_ref}}</span></h5>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nombre completo" name="name" #name="ngModel" ngModel
            [ngModel]="_infoEmp.nombre">
    </div>
    <div class="mb-3 position-relative">
        <input type="email" class="form-control" [class.is-invalid]="email.value != '' && !e.exec(email.value)"
            placeholder="Email" name="email" #email="ngModel" ngModel [ngModel]="_infoEmp.email">
        <span *ngIf="email.value != '' && !e.exec(email.value)" class="invalid-tooltip">Correo electrónico
            inválido</span>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Teléfono de contácto" name="tel" #tel="ngModel" ngModel
            [ngModel]="_infoEmp.telefono">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nombre empresa" name="comp" #comp="ngModel" ngModel
            [ngModel]="_infoEmp.empresa">
    </div>
    <div class="mb-3">
        <textarea class="form-control" placeholder="Adicionales" style="resize: none;" name="adicion" cols="30" rows="3"
            #adicion="ngModel" ngModel [ngModel]="_infoEmp.infoAd"></textarea>
    </div>
    <div class="mb-3">
        <select name="sel" #sel="ngModel" ngModel [ngModel]="_infoEmp.estado" class="form-select">
            <option value="Contactado" selected>Contactado</option>
            <option value="Cotizado">Cotizado</option>
            <option value="Declinado">Declinado</option>
            <option value="Facturado">Facturado</option>
            <option value="Pendiente">Pendiente</option>
        </select>
    </div>
    <div [hidden]="sel.value != 'Facturado'">
        <div class="mb-3 input-group">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" placeholder="Valor venta" name="venta" #venta="ngModel" ngModel [ngModel]="_infoEmp.valorVenta">
        </div>
        <div class="mb-3 input-group">
            <input type="number" class="form-control" placeholder="Comisión sobre la venta" name="comision" [ngModel]="_infoEmp.comisionVenta"
                #comision="ngModel" ngModel>
            <span class="input-group-text">%</span>
        </div>
    </div>
    <button class="btn btn-success float-end mb-5" type="button" role="button"
    (click)="updateInfo(name.value, email.value, tel.value, comp.value, adicion.value, sel.value, venta.value, comision.value)"
    [disabled]="name.value == '' || email.value == '' || comp.value == '' || tel.value == '' || !e.exec(email.value) || (sel.value == 'Facturado' && (venta.value == '' || comision.value == '' || comision.value < 0.1))">Actualizar</button>
    <button class="btn btn-secondary float-end me-3" type="button" role="button" (click)="back()">Atras</button>
</form>
<p *ngIf="venta.value != '' && comision.value != '' && comision.value > 0 && sel.value == 'Facturado'" class="mb-5">Paga a <strong class="text-warning">{{_ref}}</strong> <span
        class="text-danger fw-bold"> {{ venta.value | math: comision.value | currency: 'COP': 'symbol-narrow':'1.2-2'}}
        COP</span></p>