<app-nav></app-nav>
<div class="container mt-5">
    <ng-container *ngIf="info.displayName == 'usuario'">
        <h1>Completa tu perfil</h1>
        <div class="row mt-5">
            <div class="col">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombre completo" name="name"
                            #name="ngModel" ngModel [ngModel]="data.Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="data.Email"
                            name="email" disabled>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Número de contácto" name="tel"
                            #tel="ngModel" ngModel [(ngModel)]="data.Telefono">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Empresa" name="emp" #emp="ngModel" ngModel
                            [(ngModel)]="data.Company">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label text-info">Sube tu cédula, RUT o camara de
                            comercio</label>
                        <input class="form-control" type="file" id="formFile" multiple accept=".pdf, .png, .jpeg, .jpg"
                            (change)="changeCed($event)">
                        <div class="input-group" *ngIf="data.Identificacion">
                            <ng-container *ngFor="let d of data.Identificacion; let i = index">
                                <div class="mt-2 d-flex align-items-center">
                                    <i class="fas fa-trash-alt me-2 text-danger" role="button" data-toggle="tooltip" data-bs-placement="bottom" [title]="'Eliminar '+d.nameC" (click)="modal = true; nameT = d.nameC; position = i"></i>
                                    <a [href]="d.url" target="_blank" role="button" class="mt-2">
                                        <span class="text-capitalize me-2 text-truncate d-inline-block"
                                            style="width: 150px;">{{d.nameC}}</span> </a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombre del titular de la cuenta"
                            name="titularC" #titularC="ngModel" ngModel [(ngModel)]="data.TitularC">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="No. de cuenta" name="cuenta"
                            #cuenta="ngModel" ngModel [(ngModel)]="data.NoCuenta">
                        <span class="text-warning">Revisa que tu número de cuenta este escrito correctamente</span>
                    </div>
                    <div class="mb-3">
                        <select name="cuentaTipo" placeholder="Tipo de cuenta" class="form-select" #cuentaTipo="ngModel"
                            ngModel [(ngModel)]="data.CuentaTipo">
                            <option value="" selected>Tipo de cuenta</option>
                            <option value="Cuenta corriente">Cuenta corriente</option>
                            <option value="Cuenta de ahorros">Cuenta de ahorros</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" placeholder="Nombre del banco" name="banco" #banco="ngModel" ngModel
                            [(ngModel)]="data.Banco">
                            <option value="" selected="">Nombre del banco</option>
                            <option value="BANCO DE LA REPÚBLICA">BANCO DE LA REPÚBLICA</option>
                            <option value="BANCO DE BOGOTÁ">BANCO DE BOGOTÁ</option>
                            <option value="BANCO POPULAR">BANCO POPULAR</option>
                            <option value="BANCO CORPBANCA COLOMBIA S.A.">BANCO CORPBANCA COLOMBIA S.A.</option>
                            <option value="BANCOLOMBIA S.A.">BANCOLOMBIA S.A.</option>
                            <option value="CITIBANK COLOMBIA">CITIBANK COLOMBIA</option>
                            <option value="BANCO GNB COLOMBIA S.A.">BANCO GNB COLOMBIA S.A.</option>
                            <option value="BANCO GNB SUDAMERIS COLOMBIA">BANCO GNB SUDAMERIS COLOMBIA</option>
                            <option value="BBVA COLOMBIA">BBVA COLOMBIA</option>
                            <option value="HELM BANK">HELM BANK</option>
                            <option value="RED MULTIBANCA COLPATRIA S.A.">RED MULTIBANCA COLPATRIA S.A.</option>
                            <option value="BANCO DE OCCIDENTE">BANCO DE OCCIDENTE</option>
                            <option value="BANCO DE COMERCIO EXTERIOR DE COLOMBIA S.A. (BANCOLDEX)">BANCO DE COMERCIO
                                EXTERIOR DE COLOMBIA S.A. (BANCOLDEX)</option>
                            <option value="BANCO CAJA SOCIAL - BCSC S.A.">BANCO CAJA SOCIAL - BCSC S.A.</option>
                            <option value="BANCO AGRARIO DE COLOMBIA S.A.">BANCO AGRARIO DE COLOMBIA S.A.</option>
                            <option value="BANCO DAVIVIENDA S.A.">BANCO DAVIVIENDA S.A.</option>
                            <option value="BANCO AV VILLAS">BANCO AV VILLAS</option>
                            <option value="BANCO WWB S.A.">BANCO WWB S.A.</option>
                            <option value="BANCO PROCREDIT">BANCO PROCREDIT</option>
                            <option value="BANCAMIA">BANCAMIA</option>
                            <option value="BANCO PICHINCHA S.A.">BANCO PICHINCHA S.A.</option>
                            <option value="BANCOOMEVA">BANCOOMEVA</option>
                            <option value="BANCO FALABELLA S.A.">BANCO FALABELLA S.A.</option>
                            <option value="BANCO FINANDINA S.A.">BANCO FINANDINA S.A.</option>
                            <option value="BANCO SANTANDER DE NEGOCIOS COLOMBIA S.A. - BANCO SANTANDER">BANCO SANTANDER
                                DE
                                NEGOCIOS COLOMBIA S.A. - BANCO SANTANDER</option>
                            <option value="BANCO COOPERATIVO COOPCENTRAL">BANCO COOPERATIVO COOPCENTRAL</option>
                            <option value="NEQUI">NEQUI</option>
                            <option value="DAVIPLATA">DAVIPLATA</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check" name="autorizo"
                                #autorizo="ngModel" ngModel [(ngModel)]="data.Autorizo">
                            <label class="form-check-label" for="check">
                                Autorizo que se haga transferencia a esta cuenta inscrita
                            </label>
                        </div>
                    </div>
                    <div class="d-flex">
                        <button type="button" role="button" class="btn btn-primary mb-5"
                            [disabled]="name.value == '' || tel.value == '' || !tel.value || cuenta.value == '' || !cuenta.value || banco.value == '' || !banco.value || (filesT.length == 0 && ced.length == 0) || cuentaTipo.value == '' || titularC.value == '' || !titularC.value || !autorizo.value"
                            (click)="updateInfo(name.value, tel.value, emp.value, cuenta.value, banco.value, cuentaTipo.value, titularC.value, autorizo.value)">Actualizar</button>
                        <div class="spinner-border text-success mt-1 ms-2" role="status" *ngIf="load">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
    <h2 class="mt-5">Cambia tu contraseña</h2>
    <div class="row mt-3">
        <div class="col">
            <form>
                <div class="mb-3 position-relative">
                    <input type="password" placeholder="Contraseña nueva" class="form-control"
                        [class.is-invalid]="cp1.value?.length < 6 && cp1.value != ''"
                        [class.is-valid]="cp1.value?.length >= 6" name="cp1" #cp1="ngModel" ngModel>
                    <span class="invalid-tooltip">Debe contener mínimo 6 carácteres</span>
                </div>
                <div class="mb 3 position-relative">
                    <input type="password" placeholder="Repetir contraseña" class="form-control"
                        [class.is-invalid]="cp1.value != cp2.value && cp2.value != ''"
                        [class.is-valid]="cp1.value == cp2.value && cp2.value != ''" name="cp2" #cp2="ngModel" ngModel>
                    <span class="invalid-tooltip">Contraseñas no coinciden</span>
                </div>
            </form>
            <button type="button" role="button" class="btn btn-primary mb-5 mt-3"
                [disabled]="cp1.value != cp2.value || cp1.value == '' || cp2.value == '' || cp1.value?.length < 6"
                (click)="updatePass(cp1.value)">Actualizar</button>
        </div>
    </div>
</div>

<app-toast [toast]="toast" [text]="text"></app-toast>

<div class="modal" tabindex="-1" [ngStyle]="{'display': modal ? 'block' : ''}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Esta seguro(a) de eliminar <br> {{nameT}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal = false"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modal = false">Cancelar</button>
          <button type="button" class="btn btn-light" (click)="deleteDoc(position)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" *ngIf="modal"></div>