<div class="alert alert-dark text-center position-fixed bottom-0 start-50 translate-middle-x w-100 mb-0 border-0 rounded-0 p-2 " style="font-size: 11px; letter-spacing: 1px; z-index: 3;" role="alert">
    With <i class="fas fa-heart text-danger"></i> by <a href="https://myjproyectos.com" target="_blank" class="link-dark">www.myjproyectos.com</a> <img src="../../../assets/logo.svg" class="ms-1" width="20px" alt="Logo m y j Proyectos">
</div>