<app-nav></app-nav>


<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="Ganancias">Ganacias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Asesores" routerLinkActive="active">Asesores</a>
        </li>
      </ul>
    <router-outlet></router-outlet>
</div>
