<button type="button" class="btn-close float-end" title="Cerrar" (click)="close()" data-toggle="tooltip"
    data-bs-placement="bottom" role="button" aria-label="Close"></button>
<h4 class="text-success mt-3 mb-3">Felicitaciones!</h4>
<p class="font-monospace mb-3">Se ha facturado a tu cliente <span class="fw-bold">{{_data.nombre}}</span></p>
<p class="font-monospace mb-3">La venta fue por un valor de <span class="text-info">{{_data.valorVenta |
        currency:'COP':'symbol-narrow':'1.2-2'}}</span></p>
<p class="font-monospace mb-3">Y tu comision es del <span class="text-info">{{_data.comisionVenta}}%</span></p>
<p class="font-monospace mb-3">Tus ganancias fueron de <span class="text-primary fs-b">{{ _data.valorVenta | math:
        _data.comisionVenta | currency:'COP':'symbol-narrow':'1.2-2'}}</span></p>
<p class="font-monospace mb-3">Tasa de interés de la plataforma <span class="text-danger">-5%</span></p>
<p class="font-monospace mb-3">Recibiras un total de <span class="text-success fw-bold">{{ _total |
        currency:'COP':'symbol-narrow':'1.2-2'}}</span></p>

<p class="alert alert-warning text-center fw-bold mb-5" role="alert">Recuerda que al final del mes recibirás todo el
    acumulado de los clientes facturados en ese mes. <br> 
    El total que aparece en pantalla es una estimación ya que no se tienen en cuenta las retenciones aplicadas por la empresa.<br> 
    No olvides completar tus datos en la sección de ajustes
    sino no podrás recibir el dinero. <a routerLink="/Ajustes">Puedes hacerlo desde aquí</a></p>