.bgBody{
    width: 100%;
    height: 100vh;
    background: url('../../../assets/homebg.jpg') center no-repeat;
    background-size: cover;
    &::before{
        content: '';
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0.4;
    }
    h1{
        z-index: 1;
    }
    .d-grid{
        z-index: 2;
    }
    .btn-outline-light{
        border-color: rgba($color: #fff, $alpha: 0.4);
        color: white;
        .fas{
            opacity: 0;
        }
        &:hover{
            background-color: transparent;
            border-color: rgba($color: #fff, $alpha: 0.4);
            color: black;
            .fas{
                opacity: 1;
            }
            .liquid{
                top: 450px;
            }
        }
        .liquid {
            position: absolute;
            top: 600px;
            left: 0;
            width: 100%;
            height: 600%;
            transition: .5s;
            &::after, &::before{
                content: '';
                width: 200%;
                height: 200%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -75%);
                background: rgb(255, 255, 255);
                  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.98),
                  0 0 30px rgba(255, 255, 255, 0.42), inset 0 0 12px rgba(255, 255, 255, 0.58),
                  inset 0 0 22px rgba(255, 255, 255, 0.84),
                  inset 0 0 38px rgba(255, 255, 255, 0.88), 0 0 60px rgb(255, 255, 255);
                  z-index: -1;
            }
            &::before{
                border-radius: 45%;
                background: rgb(255, 255, 255, 0.5);
                animation: liquid 5s linear infinite;
            }
            &::after{
                border-radius: 40%;
                background: rgba(255, 255, 255, 0.5);
                animation: liquid 10s linear infinite;
            }
        }
    }      
}
@keyframes liquid {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}