<div class="bgBody position-relative">
    <img src="../../../assets/icon.png" width="200" class="ms-5 mt-5" alt="Icon aliados app">
    <h1 class="text-light position-absolute mt-5 ms-5">Bienvenido al <br>sistema de Aliados</h1>
    <div class="d-grid gap-2 col-4 mx-auto position-absolute bottom-0 end-0 translate-middle-y me-4">
        <a [routerLink]="'/Login'" role="button" class="btn btn-outline-light btn-lg position-relative overflow-hidden">Aliados <i class="fas fa-long-arrow-alt-right float-end mt-1"></i> <div class="liquid"></div></a>
        <a [routerLink]="'/Login'" role="button" class="btn btn-outline-light btn-lg position-relative overflow-hidden">Empresa <i class="fas fa-long-arrow-alt-right float-end mt-1"></i> <div class="liquid"></div></a>
    </div>
</div>