<table class="mt-5 table" *ngIf="asesores.length > 0">
    <thead>
        <tr class="text-center">
            <th scope="col" class="border-top-0">Nombre</th>
            <th scope="col" class="border-top-0">Email</th>
            <th scope="col" class="border-top-0">Empresa</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let a of asesores">
            <td>{{ a.Name }}</td>
            <td>{{ a.Email }}</td>
            <td>{{ a.Company }}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-info mt-5" *ngIf="asesores.length == 0">
    Aún no existen asesores
</div>
<button (click)="modal = true; modalC()" class="btn btn-primary position-fixed end-0 bottom-0 mb-5 me-5" type="button"
    data-bs-target="#staticBackdrop">
    <i class="fas fa-plus"></i>
</button>
<div class="modal fade modal-dialog-centered" [class.show]="modal" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nuevo asesor</h5>
                <button (click)="modal = false; modalC()" type="button" class="btn-close" data-bs-dismiss="modal"
                    data-toggle="tooltip" data-bs-placement="bottom" title="Cerrar" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-dialog-scrollable">
                <div class="row mx-auto w-100">
                    <div class="col mr-2">
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Nombre completo" name="name"
                                    #name="ngModel" ngModel>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email" name="email"
                                    #email="ngModel" ngModel>
                            </div>
                            <div class="input-group mb-3 position-relative">
                                <input [type]="_eye ? 'text': 'password'" class="form-control" placeholder="Contraseña" name="pass"
                                    #pass="ngModel" ngModel>
                                    <div class="position-absolute end-0 top-50 translate-middle-y me-2" role="button" style="z-index: 5;" (click)="_eye = !_eye"><i class="fas fa-eye" *ngIf="!_eye"></i><i class="fas fa-eye-slash" *ngIf="_eye"></i></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Empresa" name="empresa"
                                    #empresa="ngModel" ngModel>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="modal = false; modalC()">Cerrar</button>
                <button class="btn btn-primary" (click)="addAsesor(name.value, email.value, pass.value, empresa.value)" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show" *ngIf="modal"></div>
<app-toast [toast]="_t" [text]="_text"></app-toast>