<div [class.tanimation]="!toast" [class.bg-success]="!_error" [class.bg-danger]="_error" class="toast d-flex align-items-center text-white border-0 position-fixed end-0 bottom-0 me-5 mb-5 text-center" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-body">
        {{text}}
    </div>
    <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"
        aria-label="Close" (click)="toast = false"></button>
</div>
