<app-nav></app-nav>
<div class="container mt-5">
    <h1>Bienvenido(a) {{_name}}</h1>
    <div class="row mt-5">
        <div class="col text-center">
            <h3 *ngIf="_acUser.displayName == 'usuario'">Mis referidos</h3>
            <h3 *ngIf="_acUser.displayName != 'usuario'">Mis Oportunidades</h3>
        </div>
    </div>
    <div [hidden]="_verInfo">
        <div class="container mt-3 mb-5 pb-5">
            <div class="row">
                <div class="col">
                    <p *ngIf="_p == 'usuario' && _info.length == 0">Aún no has agregado un referido tuyo, que esperas!!
                    </p>
                    <p *ngIf="_p == 'empresa' && _info.length == 0">Aún no hay nuevas oportunidades</p>
                </div>
            </div>
            <ng-container *ngIf="_info.length > 0">
                <div class="table-responsive">
                    <table class="table caption-top">
                        <caption>
                            <label *ngIf="_p == 'usuario'">
                                Tus clientes
                            </label>
                            <label *ngIf="_p == 'empresa'">
                                Tus Oportunidades
                            </label>

                        </caption>
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Nombre</th>
                                <th scope="col">Email</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Adicionales</th>
                                <th scope="col">Estado actual</th>
                                <th scope="col" *ngIf="_acUser.displayName != 'usuario' && _acUser.emailVerified">
                                    Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of _info" class="text-center">
                                <th scope="row">{{i.nombre}}</th>
                                <td>{{i.email}}</td>
                                <td>{{i.telefono}}</td>
                                <td>{{i.empresa}}</td>
                                <td>{{i.infoAd}}</td>
                                <td><span [class.text-warning]="i.estado == 'Pendiente'"
                                        [class.text-danger]="i.estado == 'Declinado'"
                                        [class.text-primary]="i.estado == 'Contactado'"
                                        [class.text-info]="i.estado == 'Cotizado'"
                                        [class.text-success]="i.estado == 'Facturado'">{{i.estado}}</span>
                                    <a class="ms-3 text-danger" role="button"
                                        *ngIf="_acUser.displayName == 'usuario' && i.estado == 'Facturado'"
                                        (click)="_gInfo = true; _verInfo = true; fillInfo(i)">Ver <i
                                            class="fas fa-glass-cheers"></i></a>
                                </td>
                                <td *ngIf="_acUser.displayName != 'usuario' && _acUser.emailVerified"
                                    class="d-flex justify-content-center">
                                    <div class="btn btn-primary" role="button" (click)="editInfo(i)"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar cliente"><i
                                            class="far fa-edit"></i></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </div>

    <div *ngIf="_verInfo && _acUser.displayName != 'usuario'">
        <app-empresa [_infoEmp]="info" (_vI)="_verInfo = $event" (_tst)="_toast = $event" (_t)="_text = $event">
        </app-empresa>
    </div>
    <div *ngIf="_gInfo && _acUser.displayName == 'usuario'">
        <app-usuario [_data]="info" (_b)="_gInfo = $event; _verInfo = $event;"></app-usuario>
    </div>
</div>
<div [hidden]="_p != 'usuario' || !_acUser.emailVerified || _gInfo" role="button" class="btn btn-success fixedPosition"
    data-bs-toggle="modal" data-bs-placement="bottom" title="Agregar cliente nuevo" data-bs-target="#staticBackdrop"><i
        class="fas fa-plus"></i></div>

<div class="modal fade modal-dialog-centered " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nuevo Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-toggle="tooltip" data-bs-placement="bottom" title="Cerrar" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-dialog-scrollable">
                <div class="row mx-auto w-100">
                    <div class="col mr-2">
                        <form id="formNew" #formNew="ngForm">
                            <div class="input-group mb-3 position-relative">
                                <input type="text" class="form-control" placeholder="Nombre completo" name="name"
                                    #name="ngModel" ngModel>
                                <span
                                    class="text-danger position-absolute end-0 top-50 translate-middle-y mr-2">*</span>
                            </div>
                            <div class="mb-3 position-relative">
                                <input type="email" class="form-control"
                                    [class.is-invalid]="!e.exec(email.value) && email.value != '' && email.value"
                                    placeholder="Correo electrónico" name="email" #email="ngModel" ngModel>
                                <span class="invalid-tooltip" *ngIf="!e.exec(email.value) && email.value != '' && email.value">Correo
                                    electrónico no valido</span>
                            </div>
                            <div class="mb-3 position-relative">
                                <input type="text" class="form-control" placeholder="Teléfono de contácto" name="tel"
                                    #tel="ngModel" ngModel>
                                <span
                                    class="text-danger position-absolute end-0 top-50 translate-middle-y mr-2">*</span>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Empresa" name="empresa"
                                    #empresa="ngModel" ngModel>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" style="height: 200px; resize: none;"
                                    placeholder="El cliente se encuentra interesado en... Su otro correo es..."
                                    name="adicion" #adicion="ngModel" ngModel></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    [disabled]="name.value == '' || (email.value != '' && !e.exec(email.value)) || tel.value == '' || (tel.value != '' && !e.exec(email.value) && email.value != '') "
                    (click)="newC(name.value, email.value, tel.value, empresa.value, adicion.value); formNew.reset()">Registrar</button>
            </div>
        </div>
    </div>
</div>

<app-toast [toast]="_toast" [text]="_text"></app-toast>