<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/Tablero">
    <img src="../../../assets/icon.png" width="80px" alt="">
  </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 top-0" style="z-index: 3;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Tablero" role="button"><img src="../../../assets/icon.png" width="80px"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Tablero" role="button"
            routerLinkActive="active">Tablero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Ajustes" role="button"
            routerLinkActive="active">Ajustes</a>
        </li>
        <li class="nav-item" *ngIf="_acUser.email == 'manuelitoys93@gmail.com'">
          <a routerLink="/Admin" routerLinkActive="active" role="button" class="nav-link" aria-current="page">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="signOut()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="alert alert-danger text-center" *ngIf="!_t">
  Verifica tu correo para <span *ngIf="_acUser.displayName == 'usuario'">poder agregar nuevos clientes</span> <span *ngIf="_acUser.displayName != 'usuario'">acceder a nuevas funciones</span> &nbsp;<i class="fas fa-exclamation-circle"></i> &nbsp;&nbsp;<a
    role="button" class="link-light" (click)="verify()">Enviame el correo</a>
</div>

<app-toast [toast]="_toast" [text]="_text"></app-toast>